{% extends 'base.html' %}
{% load static %}

{% block title %}2-Factor Authentication{% endblock title %}

{% block layout %}
    <div class="container py-5" >
        <div class="row d-flex justify-content-center align-items-center" style="margin-left:30%; margin-right:30%;">
                <div class="card shadow-2-strong" style="border-radius: 1rem; background-color:#EDF1FC;">
                    <div class="card-body p-5">
                        <h3 class="text-center"> Two Factor Authentication </h3><hr class="mr-5 ml-5 mt-0 mb-0">
                        <p>{{ error_message }}</p>
                        
                        <form method="get" >
                            <div class="form-outline mb-4">
                            {% csrf_token %}
                            <div class="text-center fs-6">
                                <p> An authentication code has been sent to <b> {{ to_display_number }} </b></p>
                                {{ authentication_form }}
                            </div>
                            </div>
                            <div class="text-center">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock layout %}