{% extends 'base.html' %}
{% load static %}

{% block title %}Strong Password Guide{% endblock title %}

{% block navbar %}
    {% include 'app/postLoginNav.html' %}
{% endblock navbar %}

{% block layout %}

        <a class="btn btn-outline-dark m-2" href="/settings/password">Go Back</a>
        <h3 class="text-center mb-4"><u>Strong Password Guide</u></h3>

<div class="card p-4 m-2 border">
    <p>Here at VisionGallery, we value the security of your account and data. 
    Therefore, we are doing the best we can to keep your account and data safe. 
    However, we require your help!
    </p>

    <div class="mx-4">
        <p><b>To create a strong password,</b></p>
        <ol>
            <li> It must be at least <b>8 characters</b> long.</li>
            <li> It must contain <b>uppercase</b> letters, <b>lowercase</b> letters, <b>numbers</b> and <b>symbols</b>.</li>
            <li> It must be <b>different</b> from your old passwords.</li>
            <li> It must not contain your <b>name</b> or your <b>birthday</b>.</li>
        </ol>
    </div>

</div>

<div class="card p-4 m-2 border">
    <p><b>More advanced info:</b></p>
    <ul>
        <li>We recommend your password to be at least <b>13 characters</b> long.</li>
        <li>We recommend <b>avoiding</b> to use an <b>uppercase letter</b> as the <b>first</b> character.</li>
        <li>We recommend you to <b>avoid the obvious</b>. For instance, using the phrase "password" or including a basic numerical sequence such as "123456".</li>
        <li>We recommend you to <b>change your password consistently</b> - preferably every 90 days.</li>
        <li>Generating a strong password can be hard. We recommend you to use a <b>secure password generator</b>.</li>
    </ul>

    <p>You must never share your password with anyone. Not even with us!</p>
    <p>In order to increase your accounts' security, we recommend you to <b>enable 2FA</b>.</p>
</div>

<div class="card p-4 m-2 border">
    <h5>Short information regarding the password attacks used by hackers...</h5>
    <h6>There are many ways that a password can be hacked. Here are some common password hacking techniques:</h6>

    <ol class="heading-text1">
        <li><h6>Dictionay Attack</h6></li>
        <p>This type of cyberattack technique attempts to guess passwords by using
            well-known words, phrases or common passwords. Dictionary attacks are why
            you should avoid the common.
        </p>

        <li><h6>Brute Force Attack</h6></li>
        <p>While being similar to the dictionary attack, 
            brute force attacks work through alpha-numeric combinations and 
            tries each combination until it hits on yours. Using a long and complex password
            can extend the time required to crack your password.
        </p>

        <li><h6>Phishing</h6></li>
        <p>Instead of going through all the trouble of cracking a password, 
            hackers can simply ask the user for their password through e-mails, 
            text messages or even phone calls pretending to be a member of the staff.
            Most occasionally, these e-mails or text messages include a malicious 
            link or an attachment. Therefore, you must never provide your password outside
            the actual VisionGallery website.
        </p>
    </ol>
</div>
{% endblock layout %}
