{% load static %}
<!-- Pre Login Navbar start -->
<nav class="navbar navbar-expand-lg navbar-light pb-0">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="">
        <img
          src="/static/VisionGallery.png"
          height="30rem"
          alt="Vision Gallery Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
      <a class="navbar-brand" href="/main">Vision Gallery</a>

      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex">
          <ul class="nav justify-content-end px-2 me-1">
            <li class="nav-item">
              <a class="btn" href="/privacy">GDPR Policy </a>
            </li>
          </ul>

          
        </div>
      </div>
  </nav>
  <nav class="container navbar fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand me-2" href="">
              <img
                src="/static/VisionGallery.png"
                height="30rem"
                alt="Vision Gallery Logo"
                loading="lazy"
                style="margin-top: -1px;"
              />
            </a>
            <a class="mr-4" style="text-decoration: none;"  href="/main"> <h5 class="mb-0"> <span> Vision Gallery </span></h5></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <hr class="m-0 p-0">
                <div class="navbar-nav">
                </div>
                <div class="navbar-nav ms-auto">
                  {% comment %} <form class="form-inline pr-3 ">
                    <input class="m-1 form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm btn-outline-dark mx-0 my-0 search-icon" type="submit">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </form> {% endcomment %}
                  
                  <a type="button" href="/privacy" class="btn btn btn-outline-dark px-3 mt-1 me-2 mb-1">
                    GDPR Policy
                  </a> 

                  <a type="button" href="/login" class="btn btn btn-dark px-3 mt-1 me-2 mb-1">
                    Login
                  </a>
                  <a type="button" href="/register" class="btn btn-primary px-3 mt-1 me-2 mb-1">
                    Sign Up
                  </a>
                </div>
            </div>
            
        </div>
    </nav>
  <hr class="mt-0">
  <!-- Navbar End -->