{% extends 'base.html' %}
{% load static %}

{% block title %}Upload Image{% endblock title %}

{% block extrastyles %}
	<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock %}

{% block navbar %}
		{% include 'app/postLoginNav.html' %}
{% endblock navbar %}

{% block layout %}
<div class="row d-flex justify-content-center align-items-center">
	<br>
	<br>
	<br>
	<h2 class="text-center"> Drag Image below or Use the button </h2>
	<div class="card mt-3 pb-4 pt-3">
		<p>{{ error_message }}</p>
				<form method="post" enctype="multipart/form-data">
					<div class="text-center fst-italic fw-light fs-6">
						<p hidden>Choose file</p>
						{% csrf_token %}
						{{ MyUploadForm }}
					</div>
					<div class="text-center">
						<br>
					<button class="btn btn-primary" type="submit"><p>Upload</p></button>
					</div>
				</form>
	</div>
</div>

{% endblock layout %}